html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#ui {
  background: #e0e0e0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  gap: 10px;
}

#canvas-container {
  flex-grow: 1;
  position: relative;
}
